body {
	margin: 0px;
	background-color: #F5F9FE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000066;
	height: 100%;
	font: bold 11px Arial;
}

.pagetit{ padding-top:6px; padding-bottom:15px; padding-left:3px;}
.pagetit .ptit{
	font-size: 13px;
	font-weight: bold;
	color: #060;
	width: auto;
	float: left;
	margin-right: 26px;
	line-height: 25px;
	padding-left: 6px;
}
.clear{clear:both;}
.admin_main_nr_dbox {border:1px #95AADB solid;background-color:#FFFFFF; margin-left:5px; margin-right:5px; padding:10px;margin-top:5px;}
/*-----Frameset全屏--------*/
.admin_frameset{ position:absolute; left:0px; top:0px;width:26px; height:26px;}
.admin_frameset .open_frame{background:url(../images/open_frame.gif) no-repeat; cursor:pointer;width:26px; height:26px;}
.admin_frameset .open_frame_hover{background:url(../images/open_frame.gif) no-repeat 0px -26px; cursor:pointer;width:26px; height:26px;}
.admin_frameset .close_frame{background:url(../images/close_frame.gif) no-repeat; cursor:pointer; display:none;width:26px; height:26px;}
.admin_frameset .close_frame_hover{background:url(../images/close_frame.gif) no-repeat 0px -26px; cursor:pointer;width:26px; height:26px;}
.admin_submit{border:0px; background-image:url(../images/admin_submit.jpg); width:85px; height:27px; font-size:12px; text-align:center; line-height:27px; margin-right:8px; margin-bottom:4px; margin-top:4px}
.admin_submit_hover {background-image:url(../images/admin_submit.jpg); background-position:0px -27px;}
.toptip{line-height:180%; font-size:11px;}
.toptip h2{padding-left:20px; display:block;color: #000000;   font-size:12px; margin-bottom:8px;border-bottom:1px  #DFEDF7 solid;border-top:1px #DFEDF7 solid; background-color:#F0F8FD; height:30px; line-height:30px; margin-bottom:8px; font-weight:100}
.toptip p{ color:#666666; padding-bottom:10px;padding-left:20px;}
.toptit{line-height:180%;padding-left:20px;border-bottom:1px  #DFEDF7 solid;border-top:1px #DFEDF7 solid; background-color:#F0F8FD; height:30px; line-height:30px; margin-bottom:8px; font-size:11px;}